# Analyse du dataset de Plonger

## Importation des packadges

In [3]:
import numpy as np
import pandas as pd

## Resumé du dataset

Lecture du csv

In [4]:
dataset = pd.read_csv('AIDA_Results_IA_Institut.csv')

Affichage des 10 premières lignes

In [5]:
dataset.head(10)

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
5,6,Alkisti Vouraki (GRC),F,CWT,NaN,00:00,16,16 m,WHITE,16.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
6,7,Stavroula Kontorousi (GRC),F,CWT,NaN,00:00,20,20 m,WHITE,20.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
7,8,Yuliya Ilkevich (BLR),F,CWT,NaN,00:00,40,31 m,YELLOW,21.0,"SHORT, TAG",Depth Event 2016,Depth Competition,2016-07-17,other
8,9,Dimitris Tsigkounis (GRC),M,CWT,NaN,00:00,40,26 m,YELLOW,11.0,"SHORT, TAG",Depth Event 2016,Depth Competition,2016-07-17,other
9,10,Emmanouil Marneros (GRC),M,CWT,NaN,00:00,47,47 m,WHITE,47.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other

In [6]:
dataset.shape

(26841, 15)

In [7]:
dataset.isna().sum()

Start                 0
Diver                 0
Gender                0
Discipline            0
Line              22147
Official Top          0
AP                    0
RP                    0
Card                  0
Points                0
Remarks               5
Title Event           0
Event Type            0
Day                   0
Category Event        0
dtype: int64

In [8]:
non_numeric_df = dataset[['Diver','Gender', 'Discipline', 'Card', 'Remarks', 'Title Event', 'Event Type', 'Day', 'Category Event']]
numeric_df = dataset[['Official Top', 'AP', 'RP', 'Points']]

In [9]:
for col in non_numeric_df.columns :
    print(non_numeric_df[col].value_counts(), '\n')

William Trubridge (NZL)    139
Georgina Miller (GBR)      135
Alexey Molchanov (RUS)     121
Alejandro Lemus (MEX)      116
Ken Kiriyama (JPN)         109
                          ...
Yu Keunsoo (KOR)             1
Ki.Pyeong Lim (KOR)          1
Sunggwang Jung (KOR)         1
Shaun Househam (GBR)         1
Laffay Sylvain (FRA)         1
Name: Diver, Length: 4656, dtype: int64

M    17434
F     9407
Name: Gender, dtype: int64

CWT     10725
FIM      8075
CNF      4813
CWTB     3228
Name: Discipline, dtype: int64

WHITE     19189
YELLOW     4990
RED        2524
-           138
Name: Card, dtype: int64

OK                                     8628
Ok                                     7660
-                                      2597
PEN                                    2219
No tag,rp<ap                            657
                                       ...
DQPulling                                 1
DQ Late Start                             1
Bi-Fins                                   1
Early Turn, No Tag, Grab                  1
1:03 Dive Time Turned Early, No Tag       1
Name: Remarks, Length: 408, dtype: int64

Depth World Championship                         666
AIDA Freediving World CUP                        319
AIDA Team World Championships 2008               284
Suunto Vertical Blue 2012                        249
AIDA Individual Depth World Championship 2011    242
                                                ...
4th Mediterranean World Cup                        1
WR Attempt - CRUICKSHANK Mandy-Rae (CWT)           1
WR Attempt - LEMASTER Brett (CWT)                  1
WR Attempt - TRUBRIDGE William(CNF, FIM, VWT)      1
WR Attempt - PELIZZARI Umberto                     1
Name: Title Event, Length: 766, dtype: int64

Depth Competition      19435
Mixed Competition       3794
World Championship      1921
Competition             1447
Pool Competition         140
Worldrecord attempt       57
Team Competition          47
Name: Event Type, dtype: int64

2008-09-03    284
2012-11-20    249
2011-09-15    242
2013-09-15    211
2014-11-27    168
             ...
2020-12-12      1
2004-03-23      1
2002-12-06      1
1999-11-12      1
2018-03-26      1
Name: Day, Length: 1212, dtype: int64

other                 18685
World Championship     4258
VB                     1880
Panglao                1339
NAC                     679
Name: Category Event, dtype: int64

In [10]:
numeric_df

      Official Top  AP    RP Points
0            00:00  33  23 m   12.0
1            00:00  55  47 m   38.0
2            00:00  55  55 m   55.0
3            00:00  55  55 m   55.0
4            00:00  15  15 m   15.0
...            ...  ..   ...    ...
26836        09:40  57  57 m     57
26837        09:50  52  52 m     52
26838        10:00  40  40 m     40
26839        10:10  33  28 m     22
26840        10:20  30  30 m     30

[26841 rows x 4 columns]

In [11]:
# Extrait les 5 derniers caractères de la colonne 
dataset['Nom_des_Pays'] = dataset['Diver'].str[-4:-1]

# suprimmer les 5 derniers caractères de la colonne 
dataset['Nom_des_Participant'] = dataset['Diver'].str[:-5]

# Affiche le DataFrame mis à jour
dataset

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event,Nom_des_Pays,Nom_des_Participant
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Tasos Grillakis
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Antonis Papantonatos
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Dimitris Koumoulos
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Christos Papadopoulos
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Anna Chalari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26836,7,Karine Le Flanchec (FRA),F,CWTB,1.0,09:40,57,57 m,WHITE,57,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,FRA,Karine Le Flanchec
26837,8,Anne-Sophie Passalboni (FRA),F,CWT,1.0,09:50,52,52 m,WHITE,52,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,FRA,Anne-Sophie Passalboni
26838,9,Clementine Marie (FRA),F,CNF,1.0,10:00,40,40 m,WHITE,40,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,FRA,Clementine Marie
26839,10,Eisve Treciakauskaite (LTU),F,CWT,1.0,10:10,33,28 m,YELLOW,22,"No tag,under ap",The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,LTU,Eisve Treciakauskaite
26840,11,Mohammed Adem Alouach (DZA),M,FIM,1.0,10:20,30,30 m,WHITE,30,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,DZA,Mohammed Adem Alouach

In [12]:
dataset['Discipline'].value_counts()

CWT     10725
FIM      8075
CNF      4813
CWTB     3228
Name: Discipline, dtype: int64

#### sexe mixte

In [13]:
CWT = dataset[dataset['Discipline'] == "CWT" ]

In [15]:
FIM = dataset[dataset['Discipline'] == "FIM"]

In [16]:
CNF = dataset[dataset['Discipline'] == "CNF"]

In [17]:
CWTB = dataset[dataset['Discipline'] == "CWTB"]

#### sans sexe

In [21]:
df_wos = dataset.drop('columns=Gender')

KeyError: "['columns=Gender'] not found in axis"

#### female

In [18]:
df_f = dataset[dataset["Gender"] == 'F']

#### male

In [19]:
df_m = dataset[dataset['Gender'] == "M"]