# Analyse du dataset de Plonger

## Importation des packadges

In [1]:
import numpy as np
import pandas as pd

## Resumé du dataset

Lecture du csv

In [2]:
dataset = pd.read_csv('AIDA_Results_IA_Institut.csv')

Affichage des 10 premières lignes

In [3]:
dataset.head(10)

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
5,6,Alkisti Vouraki (GRC),F,CWT,NaN,00:00,16,16 m,WHITE,16.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
6,7,Stavroula Kontorousi (GRC),F,CWT,NaN,00:00,20,20 m,WHITE,20.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
7,8,Yuliya Ilkevich (BLR),F,CWT,NaN,00:00,40,31 m,YELLOW,21.0,"SHORT, TAG",Depth Event 2016,Depth Competition,2016-07-17,other
8,9,Dimitris Tsigkounis (GRC),M,CWT,NaN,00:00,40,26 m,YELLOW,11.0,"SHORT, TAG",Depth Event 2016,Depth Competition,2016-07-17,other
9,10,Emmanouil Marneros (GRC),M,CWT,NaN,00:00,47,47 m,WHITE,47.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other

In [4]:
dataset.shape

(26841, 15)

In [5]:
dataset.isna().sum()

Start                 0
Diver                 0
Gender                0
Discipline            0
Line              22147
Official Top          0
AP                    0
RP                    0
Card                  0
Points                0
Remarks               5
Title Event           0
Event Type            0
Day                   0
Category Event        0
dtype: int64

In [6]:
dataset = dataset.drop(['Line'], axis=1)
# we drop line because it is composed mainly of NAN

In [7]:
non_numeric_df = dataset[['Diver','Gender', 'Discipline', 'Card', 'Remarks', 'Title Event', 'Event Type', 'Day', 'Category Event']]
numeric_df = dataset[['Official Top', 'AP', 'RP', 'Points']]

In [8]:
for col in non_numeric_df.columns :
    print(col, '\n', non_numeric_df[col].value_counts(), '\n')

Diver
 William Trubridge (NZL)    139
Georgina Miller (GBR)      135
Alexey Molchanov (RUS)     121
Alejandro Lemus (MEX)      116
Ken Kiriyama (JPN)         109
                          ...
Yu Keunsoo (KOR)             1
Ki.Pyeong Lim (KOR)          1
Sunggwang Jung (KOR)         1
Shaun Househam (GBR)         1
Laffay Sylvain (FRA)         1
Name: Diver, Length: 4656, dtype: int64

Gender
 M    17434
F     9407
Name: Gender, dtype: int64

Discipline
 CWT     10725
FIM      8075
CNF      4813
CWTB     3228
Name: Discipline, dtype: int64

Card
 WHITE     19189
YELLOW     4990
RED        2524
-           138
Name: Card, dtype: int64

Remarks
 OK                                     8628
Ok                                     7660
-                                      2597
PEN                                    2219
No tag,rp<ap                            657
                                       ...
DQPulling                                 1
DQ Late Start                             1
Bi-Fins                                   1
Early Turn, No Tag, Grab                  1
1:03 Dive Time Turned Early, No Tag       1
Name: Remarks, Length: 408, dtype: int64

Title Event
 Depth World Championship                         666
AIDA Freediving World CUP                        319
AIDA Team World Championships 2008               284
Suunto Vertical Blue 2012                        249
AIDA Individual Depth World Championship 2011    242
                                                ...
4th Mediterranean World Cup                        1
WR Attempt - CRUICKSHANK Mandy-Rae (CWT)           1
WR Attempt - LEMASTER Brett (CWT)                  1
WR Attempt - TRUBRIDGE William(CNF, FIM, VWT)      1
WR Attempt - PELIZZARI Umberto                     1
Name: Title Event, Length: 766, dtype: int64

Event Type
 Depth Competition      19435
Mixed Competition       3794
World Championship      1921
Competition             1447
Pool Competition         140
Worldrecord attempt       57
Team Competition          47
Name: Event Type, dtype: int64

Day
 2008-09-03    284
2012-11-20    249
2011-09-15    242
2013-09-15    211
2014-11-27    168
             ...
2020-12-12      1
2004-03-23      1
2002-12-06      1
1999-11-12      1
2018-03-26      1
Name: Day, Length: 1212, dtype: int64

Category Event
 other                 18685
World Championship     4258
VB                     1880
Panglao                1339
NAC                     679
Name: Category Event, dtype: int64

on decidera d'enlever les divers car peux interressant pour de l'IA, on observe plus dde 1000 valeurs pour les dates ce qui ne semble pas forcément pertinent, on enlevera aussi title event car on a event type ce qui est plus intéressant on garde aussi category event

In [9]:
numeric_df

      Official Top  AP    RP Points
0            00:00  33  23 m   12.0
1            00:00  55  47 m   38.0
2            00:00  55  55 m   55.0
3            00:00  55  55 m   55.0
4            00:00  15  15 m   15.0
...            ...  ..   ...    ...
26836        09:40  57  57 m     57
26837        09:50  52  52 m     52
26838        10:00  40  40 m     40
26839        10:10  33  28 m     22
26840        10:20  30  30 m     30

[26841 rows x 4 columns]

on enlevera official top et transformeta RP en int

In [10]:
dataset[dataset['Diver'].str.len() < 5]

,Start,Diver,Gender,Discipline,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
2639,162,(),F,CWT,00:00,0,33 m,WHITE,33.0,OK,AIDA Pacific Cup 2002,Mixed Competition,2002-10-31,other
4687,31,(),F,CWT,00:00,32,6 m,YELLOW,-15.0,PEN,4ème Manche Coupe d AIDA France 2004,Mixed Competition,2004-05-06,other
5119,289,(),F,CWT,00:00,50,50 m,RED,0.0,DQBO,World Championship 2012,World Championship,2012-09-09,World Championship
5695,69,(),F,CNF,00:00,61,61 m,WHITE,61.0,OK,2013 Kalamata Open,Depth Competition,2013-09-09,other
5696,70,(),F,CNF,00:00,63,63 m,WHITE,63.0,OK,2013 Kalamata Open,Depth Competition,2013-09-09,other
5697,71,(),F,CWT,00:00,81,81 m,WHITE,81.0,OK,2013 Kalamata Open,Depth Competition,2013-09-09,other
7124,72,(),F,FIM,00:00,20,15 m,YELLOW,9.0,PEN,(in progress) Bizzy Blue Hole 2009,Competition,2009-04-21,other
7782,7,(),F,FIM,00:00,60,60 m,WHITE,60.0,OK,little blue hole competition,Depth Competition,2012-09-28,other
7817,34,(),F,CWT,00:00,59,59 m,WHITE,59.0,OK,AIDA Red Sea World Cup,Mixed Competition,2012-08-20,World Championship
7818,36,(),F,FIM,00:00,61,61 m,WHITE,61.0,OK,AIDA Red Sea World Cup,Mixed Competition,2012-08-20,World Championship
7819,38,(),F,CNF,00:00,56,56 m,WHITE,56.0,OK,AIDA Red Sea World Cup,Mixed Competition,2012-08-20,World Championship
8508,16,(),F,CWT,00:00,36,36 m,WHITE,36.0,OK,CAFA Western Regional Competition,Competition,2004-05-07,other
8529,21,(),F,CWT,00:00,28,28 m,WHITE,28.0,OK,CAFA National Championship 2004,Mixed Competition,2004-06-25,other
8553,59,(),F,CWT,00:00,48,48 m,YELLOW,38.0,PEN,4th AIDA Freediving World Championship by team,Mixed Competition,2004-08-12,World Championship
8973,137,(),F,CWT,00:00,34,32 m,YELLOW,12.0,PEN,Sony Freediver Open Classic 2003,Mixed Competition,2003-05-29,other
8989,188,(),F,CWT,00:00,35,35 m,YELLOW,25.0,PEN,Sony Freediver Open Classic 2003,Mixed Competition,2003-05-29,other
9120,7,(),F,CWT,00:00,49,49 m,RED,0.0,DQBO,AIDA CYPRUS Depth Games 2012,Depth Competition,2012-10-14,other
9156,2,(),F,CNF,00:00,41,41 m,RED,0.0,DQBO,AIDA Cyprus Depth Games 2011,Depth Competition,2011-10-16,other
9166,12,(),F,CWT,00:00,46,46 m,RED,0.0,DQBO,AIDA Cyprus Depth Games 2011,Depth Competition,2011-10-16,other
10417,44,(),F,CWT,00:00,35,16 m,YELLOW,2.0,PEN,3rd Danish Freediving Championship 2003,Competition,2003-08-02,other
10786,48,(),F,CWT,00:00,30,25 m,YELLOW,19.0,PEN,Mediterranean Freediving Meeting,Depth Competition,2008-07-25,other
10787,49,(),F,CNF,00:00,0,0 m,WHITE,0.0,OK,Mediterranean Freediving Meeting,Depth Competition,2008-07-25,other
10788,50,(),F,FIM,00:00,0,0 m,WHITE,0.0,OK,Mediterranean Freediving Meeting,Depth Competition,2008-07-25,other
11224,10,(),F,CWT,00:00,0,31 m,WHITE,31.0,OK,1st Portuguese Freediving Championship,Competition,2002-07-27,other
13306,136,(),F,CWT,00:00,0,37 m,WHITE,37.0,OK,Compiled rankings for year 2000,Competition,2000-01-01,other
13343,140,(),F,CWT,00:00,0,40 m,WHITE,40.0,OK,Compiled rankings for year 2001,Competition,2001-11-10,other

In [11]:
dataset[dataset['RP'].str.contains('-')]

,Start,Diver,Gender,Discipline,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
2340,25,Johan Thelaus (SWE),M,CWT,00:00,70,-2 m,RED,0.0,DQSP,Nordic Deep 2009,Mixed Competition,2009-08-13,other
2343,32,Peter Boivie (SWE),M,CWT,00:00,54,-2 m,RED,0.0,DQSP,Nordic Deep 2009,Mixed Competition,2009-08-13,other
2357,69,Steinar Schjager (NOR),M,CNF,00:00,51,-2 m,RED,0.0,DQSP,Nordic Deep 2009,Mixed Competition,2009-08-13,other
2364,85,Mads Isberg (DNK),M,CNF,00:00,62,-2 m,RED,0.0,DQBO,Nordic Deep 2009,Mixed Competition,2009-08-13,other
2382,2,Weine Gustavsson (SWE),M,FIM,00:00,70,-2 m,RED,0.0,DQSP,Nordic Deep 2010,Depth Competition,2010-08-14,other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25697,19,Jindřiška Zajacová (CZE),F,CWT,12:48,70,-,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25698,20,Lujain Talal (SAU),F,FIM,12:54,35,-,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25699,21,Arseniy Telegin (RUS),M,FIM,13:00,70,-,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25700,22,Essa Albarrk (SAU),M,FIM,13:06,35,-,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship
25701,23,Violette Salvan-Pugliese (FRA),F,CWT,13:12,65,-,-,-,-,AIDA Freediving World Cup August 2023,Depth Competition,2023-08-14,World Championship

In [12]:
dataset['MONTH'] = dataset['Day'].str.split('-').str[1]

In [13]:
dataset['Day'] = pd.to_datetime(dataset['Day'])

# Trier le DataFrame par date
dataset.sort_values(by='Day', inplace=True)

# Expérience totale de plongée par athlète
experience_dive = dataset.groupby('Diver')['Day'].cumcount() + 1

# Expérience totale de plongée par athlète et par discipline
experience_discipline = dataset.groupby(['Diver', 'Discipline'])['Day'].cumcount() + 1

# Ajouter les colonnes d'expérience au DataFrame d'origine
dataset['experience_dive'] = experience_dive
dataset['experience_discipline'] = experience_discipline

dataset

In [14]:
df = dataset.drop(['Start','Diver', 'Title Event', 'Official Top'],axis=1)
df['RP'] = df['RP'].str.split(' ').str[0]
df

,Gender,Discipline,AP,RP,Card,Points,Remarks,Event Type,Day,Category Event,MONTH,experience_dive,experience_discipline,nombre_plongees_participation
8929,F,CWT,61,61,WHITE,61.0,OK,Worldrecord attempt,1994-06-12,other,06,1,1,1
3716,M,CWT,72,72,WHITE,72.0,OK,Worldrecord attempt,1995-09-17,other,09,1,1,1
3713,F,CWT,62,62,WHITE,62.0,OK,Worldrecord attempt,1996-10-05,other,10,2,2,2
5021,M,CWT,72,72,WHITE,72.0,OK,Worldrecord attempt,1996-10-11,other,10,1,1,1
3717,M,CWT,73,73,WHITE,73.0,OK,Worldrecord attempt,1997-08-02,other,08,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25680,M,CWTB,61,-,-,-,-,Depth Competition,2023-08-14,World Championship,08,6,6,6
25679,F,CWT,98,-,-,-,-,Depth Competition,2023-08-14,World Championship,08,18,14,14
25701,F,CWT,65,-,-,-,-,Depth Competition,2023-08-14,World Championship,08,6,6,6
25689,M,CWTB,78,-,-,-,-,Depth Competition,2023-08-14,World Championship,08,35,31,31
25700,M,FIM,35,-,-,-,-,Depth Competition,2023-08-14,World Championship,08,6,6,6

In [15]:
cleanning

Sélectionner les colonnes pertinentes au problèmes (indice: les numériques, et celles
connues avant une plongée)
4. Normaliser les données pour que toutes les colonnes soient comparables en terme
de distance euclidienne
5. Appliquer deux méthodes de clustering (K-means et DBSCAN) pour détecter si
plusieurs profils de plongée se dessine :
a. sur les plongées qui ont obtenu un carton Rouge (card==RED)
b. sur les plongées qui ont obtenu un carton Blanc (card==WHITE) (pour
comprendre l'effet inverse, lorsque les plongées se passent bien)
6. Décrire et visualiser les résultats obtenus (vous pouvez afficher selon 2 ou 3
caractéristiques). Quels sont les différents clusters trouvés et leurs caractéristiques?
7. Expliquer comment vous avez choisi les hyperparamètres de chacune des méthodes
a. ￼le nombre de clusters pour K-means. Utiliser la méthode du coude, Elbow
method)
b. La densité pour DBSCAN
8. Commenter les résultats obtenus, pour et contre chaque méthode. Est-ce que les
méthodes de clustering sont adaptées au problème

Prédire si le résultat d’une plongée va être un carton blanc, jaune, rouge selon les
caractéristiques qui paraissent pertinentes au problème. Utiliser le classifieur SVM
avec différents noyaux.
2. Justifier vos choix (en phrase et par de la visualisation si nécessaire).
3. Créer un tableau récapitulant vos différents résultats.
4. Commenter les résultats obtenus.
5. Explorer d'autres pistes de classifieurs (au moins un) et comparer les résultats

SyntaxError: invalid character '’' (U+2019) (4293729161.py, line 1)