# Analyse du dataset de Plonger

## Importation des packadges

In [2]:
import numpy as np
import pandas as pd

## Resumé du dataset

Lecture du csv

In [3]:
dataset = pd.read_csv('AIDA_Results_IA_Institut.csv')

Affichage des 10 premières lignes

In [4]:
dataset.head(10)

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
5,6,Alkisti Vouraki (GRC),F,CWT,NaN,00:00,16,16 m,WHITE,16.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
6,7,Stavroula Kontorousi (GRC),F,CWT,NaN,00:00,20,20 m,WHITE,20.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other
7,8,Yuliya Ilkevich (BLR),F,CWT,NaN,00:00,40,31 m,YELLOW,21.0,"SHORT, TAG",Depth Event 2016,Depth Competition,2016-07-17,other
8,9,Dimitris Tsigkounis (GRC),M,CWT,NaN,00:00,40,26 m,YELLOW,11.0,"SHORT, TAG",Depth Event 2016,Depth Competition,2016-07-17,other
9,10,Emmanouil Marneros (GRC),M,CWT,NaN,00:00,47,47 m,WHITE,47.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other

In [5]:
dataset.shape

(26841, 15)

In [6]:
dataset.isna().sum()

Start                 0
Diver                 0
Gender                0
Discipline            0
Line              22147
Official Top          0
AP                    0
RP                    0
Card                  0
Points                0
Remarks               5
Title Event           0
Event Type            0
Day                   0
Category Event        0
dtype: int64

In [15]:
# Extrait les 5 derniers caractères de la colonne 
dataset['Nom_des_Pays'] = dataset['Diver'].str[-4:-1]

# suprimmer les 5 derniers caractères de la colonne 
dataset['Nom_des_Participant'] = dataset['Diver'].str[:-5]

# Affiche le DataFrame mis à jour
dataset

,Start,Diver,Gender,Discipline,Line,Official Top,AP,RP,Card,Points,Remarks,Title Event,Event Type,Day,Category Event,Nom_des_Pays,Nom_des_Participant
0,1,Tasos Grillakis (GRC),M,FIM,NaN,00:00,33,23 m,YELLOW,12.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Tasos Grillakis
1,2,Antonis Papantonatos (GRC),M,FIM,NaN,00:00,55,47 m,YELLOW,38.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Antonis Papantonatos
2,3,Dimitris Koumoulos (GRC),M,CNF,NaN,00:00,55,55 m,WHITE,55.0,-,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Dimitris Koumoulos
3,4,Christos Papadopoulos (GRC),M,CWT,NaN,00:00,55,55 m,WHITE,55.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Christos Papadopoulos
4,5,Anna Chalari (GRC),F,CWT,NaN,00:00,15,15 m,WHITE,15.0,OK,Depth Event 2016,Depth Competition,2016-07-17,other,GRC,Anna Chalari
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26836,7,Karine Le Flanchec (FRA),F,CWTB,1.0,09:40,57,57 m,WHITE,57,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,FRA,Karine Le Flanchec
26837,8,Anne-Sophie Passalboni (FRA),F,CWT,1.0,09:50,52,52 m,WHITE,52,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,FRA,Anne-Sophie Passalboni
26838,9,Clementine Marie (FRA),F,CNF,1.0,10:00,40,40 m,WHITE,40,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,FRA,Clementine Marie
26839,10,Eisve Treciakauskaite (LTU),F,CWT,1.0,10:10,33,28 m,YELLOW,22,"No tag,under ap",The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,LTU,Eisve Treciakauskaite
26840,11,Mohammed Adem Alouach (DZA),M,FIM,1.0,10:20,30,30 m,WHITE,30,Ok,The AIDA Cormorant Depth Challenge,Depth Competition,2023-07-23,other,DZA,Mohammed Adem Alouach

In [16]:
non_numeric_df = dataset['Diver','Gender', 'Discipline', 'Card', 'Remarks', 'Title Event', 'Event Type', 'Day', 'Category Event']
numeric_df = dataset['Official Top', 'AP', 'RP', 'Points']

KeyError: ('Diver', 'Gender', 'Discipline', 'Card', 'Remarks', 'Title Event', 'Event Type', 'Day', 'Category Event')